* {
    box-sizing: border-box;
}

.container {
    border: 4px solid lightgray;
    padding: 80px 24px 56px 24px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.box {
    border: 4px solid lightgray;
    margin-bottom: 24px;
}

.box-small {
    height: 50px;
}

.box-tiny {
    width: 30%;
    height: 50px;
}

.box-wrapper{
    width: 50%;
    display: flex;
    padding-right: 20px;
    flex-direction: column;
}

.tiny-wrapper {
    display: flex;
    justify-content: space-between;
}

.box-large {
    width: 50%;
}
